In [29]:
import pandas as pd
import regex as re
from sklearn.utils import resample
import warnings 
warnings.filterwarnings('ignore')
import nltk
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,LancasterStemmer,SnowballStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import emoji
import re

# some insights of data 
text given in each datapoint is a tweet or grabage values with is in many languages.
the data is given in 4 files with label as the file name.
as machine can be trained by only numerical values , we have to convert it to vectors ,before that all the text should be in same language ,
so we can translate the text from non-english to english and train the machine or by dropping tweets which are in non-english language

In [2]:
litigious_data = pd.read_csv(r"C:\Users\Home\Downloads\assignmet 2\litigious.csv",encoding='latin-1')
negative_data = pd.read_csv(r"C:\Users\Home\Downloads\assignmet 2\negative.csv",encoding='latin-1')
positive_data = pd.read_csv(r"C:\Users\Home\Downloads\assignmet 2\positive.csv",encoding='latin-1')
uncertainty_data = pd.read_csv(r"C:\Users\Home\Downloads\assignmet 2\uncertainty.csv",encoding='latin-1')

In [3]:
litigious_data['new_column']='litigious'
negative_data['new_column']='negative'
positive_data['new_column']='positive'
uncertainty_data['new_column']='uncertainty'

As the label is given as name of csv file i have added a column with column name as new_column for every dataframe

In [4]:
data = pd.concat([litigious_data,negative_data,positive_data,uncertainty_data])

concatinating all the 4 dataframes in to one

In [8]:
data = data.reset_index()

reseting all the index values as we have concatinated many dataframes to one

In [18]:
data.drop(labels=['index','Unnamed: 0'],axis=1,inplace=True)

removing unwanted columns

In [19]:
data['Language'].value_counts()

en                                                                                                                                                                      871310
fr                                                                                                                                                                       13091
es                                                                                                                                                                       11333
pt                                                                                                                                                                       10336
ja                                                                                                                                                                        8414
                                                                                                                                                                         ...
[Photo(previewUrl='https://pbs.twimg.com/media/FWVRZ6bWYAAM8-3?format=jpg&name=small', fullUrl='https://pbs.twimg.com/media/FWVRZ6bWYAAM8-3?format=jpg&name=large')]         1
[Photo(previewUrl='https://pbs.twimg.com/media/FWXXH-AUcAAp6Wc?format=jpg&name=small', fullUrl='https://pbs.twimg.com/media/FWXXH-AUcAAp6Wc?format=jpg&name=large')]         1
[Photo(previewUrl='https://pbs.twimg.com/media/FWWBzWTXkAAyZqm?format=jpg&name=small', fullUrl='https://pbs.twimg.com/media/FWWBzWTXkAAyZqm?format=jpg&name=large')]         1
[Photo(previewUrl='https://pbs.twimg.com/media/FWV94O7UEAAjMOi?format=jpg&name=small', fullUrl='https://pbs.twimg.com/media/FWV94O7UEAAjMOi?format=jpg&name=large')]         1
[Photo(previewUrl='https://pbs.twimg.com/media/EPYG2rKVAAA1e_O?format=jpg&name=small', fullUrl='https://pbs.twimg.com/media/EPYG2rKVAAA1e_O?format=jpg&name=large')]         1
Name: Language, Length: 72, dtype: int64

As the majority of the language tweets are of english (~93%),it takes much time to translate non-english tweet to english, we can remove remaining rows which are in other language

In [21]:
data = data[data['Language']=='en']

only enlgish language tweets are present in the dataframe so we can do conversion to vector easily

In [26]:
data

,Text,Language,new_column
0,@Charlie_Corley @Kristine1G @amyklobuchar @Sty...,en,litigious
1,https://t.co/YJNiO0p1JV Flagstar Bank disclose...,en,litigious
2,OOPS. I typed her name incorrectly (todayâs ...,en,litigious
3,@SaltBurned [When the first sign of surrender ...,en,litigious
4,"""It's Your fight to save the UK from the liars...",en,litigious
...,...,...,...
937849,There is a bag of cheese hidden somewhere in m...,en,uncertainty
937850,@Treg2Cole Thatâs a hellz nah for me. ð¤¢. ...,en,uncertainty
937851,@Sam_Mallory El Mizouni and Roles in the same ...,en,uncertainty
937852,If you donât take risks youâll always end ...,en,uncertainty
937853,@michaelharriot If Friends were better he migh...,en,uncertainty

In [28]:
data.isnull().sum()

Text          0
Language      0
new_column    0
dtype: int64

In [136]:
stop_words = stopwords.words("english")
stop_words.remove('not')

this stop words which occur often and meaning of sentance will not be changed if they are not present , so that dimensions of the vector can be reduced , not is removed assuming that if that is removed from the sentance the meaning could be reversed

In [145]:
%%time
sentances = []
for i in data['Text']:
    word = []
    sent = i.lower()
    sent = emoji.demojize(sent)
    sent = re.sub('â€˜|â€™',"'",sent)
    sent = re.sub('&amp;',"and",sent)
    sent = re.sub('<.*?>','',sent)
    sent = re.sub('https?://\S*|www\S*','',sent)
    sent = re.sub(' @\w+| #\w+',"",sent)
    sent = re.sub("[^a-z0-9 ]","",sent)
    for i in word_tokenize(sent):
        if i in stop_words:pass
        else:word.append(PorterStemmer().stem(i))
    sentances.append(" ".join(word))

Wall time: 13min 6s

time taken to do porterstemmer on 871310 rows is 13min 6sec, in this step we have done text pre-processing , this all the steps inside are done for redcution of vector dimensions

In [150]:
cleaned_text_data = pd.DataFrame({"cleaned_Text":sentances})

In [151]:
cleaned_text_data

                                             cleaned_Text
0       charliecorley testimoni evid court law state f...
1       flagstar bank disclos data breach impact 15mil...
2       oop type name incorrectli today brave wit 6 7 ...
3       saltburn first sign surrend come michael smile...
4       fight save uk liar cheat charlatan steve bray ...
...                                                   ...
871305           bag chees hidden somewher hous aint talk
871306                   treg2col that hellz nah mayb fri
871307  sammallori el mizouni role team could realli g...
871308  dont take risk youll alway end work someon kin...
871309  michaelharriot friend better might notic compa...

[871310 rows x 1 columns]

creating dataframe of each data piont in text column

In [166]:
#bag of words
count_obj = CountVectorizer()
trans = count_obj.fit_transform(cleaned_text_data['cleaned_Text'][0:25000])
trans

<25000x42933 sparse matrix of type '<class 'numpy.int64'>'
	with 347710 stored elements in Compressed Sparse Row format>

there are to 42933 unique words

In [170]:
array_count = trans.toarray()

In [171]:
count_obj.vocabulary_

{'charliecorley': 8158,
 'testimoni': 37684,
 'evid': 13930,
 'court': 9969,
 'law': 22291,
 'state': 36152,
 'feder': 14557,
 'must': 26164,
 'stand': 36080,
 'cross': 10299,
 'examin': 13980,
 'flagstar': 14930,
 'bank': 5082,
 'disclos': 11953,
 'data': 10836,
 'breach': 6607,
 'impact': 18854,
 '15million': 439,
 'individu': 19085,
 'oop': 28074,
 'type': 39632,
 'name': 26325,
 'incorrectli': 19011,
 'today': 38662,
 'brave': 6584,
 'wit': 41861,
 'probabi': 30485,
 'dont': 12357,
 'forget': 15197,
 'request': 32142,
 'saltburn': 33379,
 'first': 14854,
 'sign': 34908,
 'surrend': 36916,
 'come': 9093,
 'michael': 24962,
 'smile': 35334,
 'split': 35882,
 'face': 14241,
 'like': 22938,
 'sharp': 34575,
 'knife': 21740,
 'flesh': 14964,
 'would': 42174,
 'chill': 8337,
 'dean': 11072,
 'core': 9778,
 'ice': 18590,
 'cold': 8999,
 'exist': 14059,
 'natur': 26446,
 'archangel': 4115,
 'enj': 13461,
 'fight': 14732,
 'save': 33614,
 'uk': 39727,
 'liar': 22823,
 'cheat': 8198,
 'charlatan': 8145,
 'steve': 36296,
 'bray': 6594,
 'support': 36858,
 'retweetdirect': 32295,
 'legal': 22584,
 'case': 7684,
 'judiciarygop': 20921,
 'account2': 2437,
 'oathnic': 27537,
 'tri': 39175,
 'though': 38345,
 'ppl': 30148,
 'scare': 33709,
 'punta': 30897,
 'gorda': 16550,
 'sever': 34417,
 'antisemit': 3899,
 'flyer': 15045,
 'report': 32077,
 'seen': 34064,
 'accord': 2430,
 'local': 23237,
 'enforc': 13435,
 'garyklin': 15911,
 'jimmi': 20475,
 'jordan': 20774,
 'crimin': 10213,
 'defend': 11256,
 'purpos': 30932,
 'judiciari': 20919,
 'committe': 9147,
 'joauwa': 20564,
 'shit': 34702,
 'write': 42226,
 'inform': 19165,
 'year': 42503,
 'movi': 25852,
 'timelin': 38512,
 'came': 7365,
 'articl': 4287,
 'interview': 19443,
 'releas': 31919,
 'backlash': 4917,
 'shitti': 34714,
 'storytel': 36451,
 'isl': 19693,
 'mora': 25708,
 'area': 4139,
 '61': 1775,
 'sqkm': 35967,
 'popul': 29988,
 '169': 479,
 'terrain': 37635,
 'curs': 10501,
 'crumbl': 10338,
 'seamount': 33946,
 'mother': 25799,
 'told': 38729,
 'even': 13872,
 'settlement': 34307,
 'younger': 42678,
 'windswept': 41813,
 'garden': 15882,
 'pillowzac': 29569,
 'pleas': 29730,
 'take': 37187,
 'care': 7561,
 'brain': 6545,
 'hangov': 17265,
 'notttt': 27301,
 'fun': 15616,
 'proud': 30727,
 'entir': 13509,
 'hyper': 18496,
 'team': 37450,
 'pull': 30865,
 'togeth': 38701,
 'everyon': 13902,
 'cast': 7740,
 'crew': 10170,
 'made': 23775,
 'happen': 17293,
 'cool': 9720,
 'unfold': 39963,
 'realeubreak': 31519,
 'inject': 19222,
 'realism': 31526,
 'shown': 34811,
 'putin': 30954,
 'invad': 19488,
 'sovereign': 35712,
 'countryukraineaft': 9939,
 'frustrat': 15539,
 'silenc': 34937,
 'inact': 18941,
 'west': 41462,
 'regard': 31817,
 'minsk': 25236,
 'agreement': 2926,
 'atroc': 4559,
 'co': 8880,
 'chelsea': 8232,
 'contract': 9555,
 'offer': 27675,
 'ousman': 28332,
 'dembcopyrightlcopyrighthi': 11382,
 'futur': 15684,
 'barcelona': 5142,
 'ashokgehlot51': 4353,
 'sir': 35047,
 'two': 39591,
 'peopl': 29188,
 'punish': 30884,
 'indian': 19057,
 'lawbut': 22316,
 'way': 41262,
 'islam': 19695,
 'countri': 9924,
 'thempubl': 37999,
 'execut': 14028,
 'merci': 24825,
 'allow': 3288,
 'option': 28154,
 'given': 16263,
 'give': 16260,
 'shelter': 34633,
 'davidmacdougal': 10917,
 'text': 37720,
 'say': 33634,
 'noth': 27262,
 'finland': 14810,
 'sweden': 36997,
 'amend': 3455,
 'nation': 26421,
 'legisl': 22633,
 'connect': 9397,
 'turkey': 39497,
 'behest': 5498,
 'simpli': 34990,
 'refer': 31781,
 'current': 10497,
 'process': 30520,
 'disinform': 12010,
 'cbdc': 7831,
 'exchang': 14002,
 'place': 29647,
 'lcx': 22472,
 'interoper': 19426,
 'provid': 30742,
 'qnt': 31003,
 'overledg': 28456,
 'tennesse': 37594,
 'receiv': 31643,
 'million': 25149,
 'pharmaceut': 29416,
 'compani': 9182,
 'problematicpj': 30497,
 'major': 23895,
 'concern': 9279,
 'suffer': 36707,
 'clown': 8815,
 'show': 34800,
 'pointless': 29857,
 'alreadi': 3340,
 'announc': 3795,
 'referr': 31787,
 'texasguard': 37715,
 'look': 23345,
 'admiss': 2669,
 'activ': 2538,
 'one': 27964,
 'tpostmillenni': 38965,
 'keep': 21367,
 'turn': 39506,
 'anoth': 3818,
 '22m': 997,
 'trumpery45': 39323,
 'usdc': 40353,
 'central': 7947,
 'intermediari': 19415,
 'oper': 28104,
 'top': 38852,
 'secur': 34029,
 'transpar': 39090,
 'blockchain': 6136,
 'cours': 9961,
 'pay': 29009,
 'visa': 40856,
 'work': 42100,
 'scuderiaferrari': 33912,
 'hard': 17339,
 'white': 41599,
 '9newsau': 2163,
 'flag': 14926,
 'wave': 41258,
 'sidebysid': 34879,
 'posit': 30031,
 'forwardlook': 15263,
 'messag': 24862,
 'imo': 18848,
 'aborigin': 2306,
 'torr': 38887,
 'strait': 36467,
 'island': 19700,
 'presenc': 30317,
 'result': 32249,
 'british': 6819,
 'bad': 4938,
 'statement': 36170,
 'interest': 19394,
 'go': 16376,
 'get': 16129,
 'charg': 8119,
 'everi': 13890,
 'crime': 10184,
 'imagin': 18798,
 'specif': 35793,
 'defin': 11277,
 'hearsay': 17583,
 'gym': 17068,
 'teachersexu': 37445,
 'abus': 2378,
 'enabl': 13372,
 'argu': 4168,
 'th': 37747,
 'someon': 35549,
 'tell': 37554,
 'trump': 39310,
 'tamper': 37249,
 'assault': 4407,
 'polic': 29880,
 'offic': 27681,
 'briantylercohen': 6758,
 'isnt': 19707,
 'suprem': 36870,
 'realli': 31541,
 'believ': 5535,
 'rule': 33048,
 'davidcicillin': 10899,
 'embarrass': 13266,
 'make': 23906,
 'hide': 17854,
 'cant': 7457,
 'deal': 11057,
 'disagre': 11931,
 'resisthow': 32203,
 'hous': 18257,
 'let': 22726,
 'alon': 3320,
 'human07041776': 18387,
 'physic': 29499,
 'secret': 34012,
 'servic': 34273,
 'agent2': 2868,
 'tamperinglet': 37273,
 'know': 21755,
 'well': 41403,
 'treat': 39139,
 'commit': 9142,
 'offens': 27671,
 'cure': 10483,
 'cancerim': 7417,
 'sure': 36883,
 'respons': 32218,
 'age': 2855,
 'tweetsjk': 39557,
 'never': 26697,
 'use': 40358,
 'languag': 22170,
 'mhl': 24944,
 'recommend': 31680,
 'tweet': 39547,
 'taken': 37189,
 'agre': 2922,
 'that': 37767,
 'ask': 4376,
 'ab': 2231,
 'dobc': 12189,
 'find': 14785,
 'bsb': 6936,
 'code': 8928,
 'conductjk': 9332,
 'ye': 42497,
 'caus': 7803,
 'im': 18788,
 'gemma': 16026,
 'defens': 11261,
 'want': 41153,
 'fella': 14603,
 'who': 41629,
 'gon': 16480,
 'na': 26266,
 'weekend': 41361,
 'friend': 15469,
 'sit': 35076,
 'home': 18107,
 'mean': 24608,
 'fault': 14475,
 '16': 447,
 'yet': 42577,
 'natesilver538': 26411,
 'actual': 2562,
 'hold': 18069,
 'politician': 29918,
 'account': 2436,
 'behavior': 5487,
 'good': 16497,
 'circumst': 8559,
 'wouldnt': 42179,
 'along': 3322,
 'qatar': 30985,
 'airway': 3022,
 'ceo': 7958,
 'akbar': 3063,
 'al': 3090,
 'baker': 5006,
 'indic': 19067,
 'carrier': 7650,
 'might': 25056,
 'prepar': 30294,
 'end': 13399,
 'clash': 8664,
 'airbu': 2999,
 'answer': 3826,
 'reach': 31474,
 'alway': 3378,
 'read': 31486,
 'oldeconomi': 27859,
 'dividend': 12108,
 'guy': 17046,
 'crypto': 10358,
 'crash': 10115,
 'distribut': 12082,
 'ledger': 22544,
 'dlt': 12153,
 'centuri': 7957,
 'old': 27856,
 'updat': 40219,
 'internetblockchain': 19421,
 'power': 30126,
 'tool': 38826,
 'financi': 14783,
 'transactionssettlementsecur': 39054,
 'etc': 13760,
 'among': 3521,
 '14': 342,
 'ronfilipkowski': 32841,
 'obvious': 27596,
 'statur': 36201,
 'possess': 30041,
 'impeach': 18864,
 'thing': 38224,
 'left': 22567,
 'gop': 16531,
 'playbook': 29701,
 'theyr': 38195,
 'basic': 5237,
 'screw': 33891,
 'new': 26709,
 'hampshir': 17220,
 'governor': 16609,
 'restrict': 32244,
 'gun': 16997,
 'control': 9682,
 'newhampshir': 26723,
 'broomysince2003': 6871,
 'he': 17516,
 'condemn': 9304,
 'broke': 6849,
 'went': 41448,
 'protest': 30704,
 'outcom': 28343,
 'elect': 13140,
 'anyon': 3943,
 'moral': 25710,
 'intuit': 19484,
 'societ': 35460,
 'conclus': 9296,
 'enough': 13474,
 'decis': 11172,
 'said': 33299,
 'think': 38246,
 'asshol': 4428,
 'hook': 18172,
 'easi': 12869,
 'littl': 23110,
 'itali': 19761,
 'disband': 11942,
 'thaurissan': 37805,
 'dramirkhangp': 12525,
 'blatant': 6076,
 'intern': 19416,
 '3dancingmaiden': 1409,
 'davi': 10883,
 'group': 16852,
 'global': 16325,
 'reset': 32180,
 'requir': 32144,
 'nationst': 26432,
 'tumbl': 39465,
 'openbord': 28090,
 'fentanyl': 14632,
 'inflat': 19147,
 'shortag': 34762,
 'lockdown': 23249,
 'etcther': 13773,
 'institut': 19338,
 'rise': 32590,
 'expens': 14099,
 'joyhenningsenmd': 20845,
 'magic': 23833,
 'black': 6015,
 'spell': 35816,
 'mani': 24032,
 'turgid': 39495,
 'fear': 14537,
 'will': 41748,
 'self': 34094,
 'poison': 29864,
 'love': 23454,
 'truli': 39307,
 'upset': 40267,
 'philippaperri': 29446,
 'open': 28088,
 'equilibrium': 13599,
 'longterm': 23340,
 'relationship': 31911,
 'parti': 28807,
 'trust': 39359,
 'impli': 18881,
 'parkjayrockstar': 28783,
 'mono': 25636,
 'awar': 4777,
 'cathart': 7770,
 'cri': 10174,
 'fire': 14824,
 'stone': 36400,
 'omega': 27921,
 'revolut': 32336,
 'josinaanderson': 20826,
 'heck': 17630,
 'nfl': 26805,
 'negoti': 26586,
 'disciplin': 11949,
 'camp': 7377,
 'firsthand': 14858,
 'freebeacon': 15408,
 'wasnt': 41216,
 'illeg': 18748,
 'didnt': 11795,
 'btw': 6970,
 'lost': 23413,
 'job': 20565,
 'sux': 36963,
 'max': 24448,
 'verstappen': 40686,
 'father': 14463,
 'call': 7338,
 'lewi': 22776,
 'hamilton': 17208,
 'red': 31717,
 'bull': 7043,
 'race': 31155,
 'audac': 4633,
 'joke': 20709,
 'silvermanjacob': 34956,
 'base': 5217,
 'complet': 9223,
 'misunderstand': 25376,
 'concept': 9275,
 'trustless': 39369,
 'comput': 9261,
 'attempt': 4577,
 'extend': 14153,
 'misunderstood': 25377,
 'financein': 14782,
 'practic': 30153,
 'reli': 31933,
 'tradfi': 39009,
 'protec': 30688,
 'terikanefield': 37614,
 'speak': 35775,
 'j6': 19926,
 'crowd': 10316,
 'friendlier': 15471,
 'respect': 32212,
 'sirw': 35066,
 'faculti': 14283,
 'member': 24755,
 'assist': 4433,
 'professor': 30556,
 'basi': 5236,
 '10': 113,
 'punjabi': 30889,
 'univers': 40032,
 'patiala': 28893,
 'regularis': 31861,
 'bhagwantmann': 5780,
 'question': 31072,
 'lol': 23293,
 'msolurin': 25966,
 'establish': 13737,
 'preced': 30200,
 'vaccin': 40476,
 'directli': 11910,
 'violat': 40818,
 'bodili': 6269,
 'autonomi': 4716,
 'abort': 2309,
 'ban': 5056,
 'consist': 9449,
 'success': 36680,
 'odd': 27636,
 'talk': 37213,
 'testifi': 37676,
 'januari': 20119,
 '6th': 1868,
 'real': 31503,
 'note': 27254,
 'ive': 19887,
 'super': 36806,
 'trigger': 39215,
 'recent': 31645,
 'chang': 8085,
 'live': 23119,
 'canada': 7397,
 'howev': 18294,
 'sometim': 35562,
 'vent': 40642,
 'help': 17695,
 'feel': 14581,
 'doom': 12372,
 'gloom': 16337,
 'post': 30055,
 'poorli': 29972,
 'shorteststop': 34770,
 'astro': 4472,
 'hit': 17986,
 'rest': 32227,
 'leagu': 22500,
 'includ': 18984,
 'yanke': 42455,
 'sox': 35721,
 '2017': 801,
 'ws': 42265,
 'playersi': 29709,
 'mistak': 25358,
 'ten': 37577,
 'fee': 14574,
 'paid': 28607,
 'openingclosingsettl': 28095,
 'transact': 39053,
 'layer': 22452,
 '2s': 1213,
 'lightn': 22925,
 'networkworri': 26684,
 'blockspac': 6144,
 'demand': 11369,
 'deploy': 11486,
 'network': 26681,
 'wast': 41220,
 'time': 38496,
 'ragashanti': 31212,
 'teach': 37443,
 'hope': 18191,
 'watch': 41225,
 'jan6': 20084,
 'hear': 17548,
 'spill': 35850,
 'tea': 37441,
 'mention': 24802,
 'pon': 29950,
 'bridg': 6767,
 'youtub': 42712,
 'tamfam': 37242,
 'radio': 31186,
 'edrm': 12984,
 'guid': 16955,
 'challeng': 8055,
 'landscap': 22158,
 'ediscoveri': 12970,
 'dbrm': 11006,
 'complex': 9230,
 'view': 40765,
 'full': 15600,
 'length': 22677,
 'introduct': 19479,
 'video': 40756,
 'click': 8743,
 'coreybk': 9781,
 'damn': 10696,
 'near': 26529,
 'choke': 8383,
 'drink': 12578,
 'heard': 17549,
 'rage': 31214,
 'lunat': 23624,
 'day': 10959,
 'brutal': 6914,
 'death': 11092,
 'engag': 13444,
 'tamperingh': 37262,
 'absolut': 2360,
 'loyalti': 23487,
 'minion': 25214,
 'pardon': 28760,
 'returnth': 32293,
 'former': 15223,
 'presid': 30328,
 'unit': 40019,
 'ident': 18636,
 'mob': 25484,
 'bossh': 6435,
 'familyjanuary6thhear': 14363,
 'stevenmv22': 36317,
 'definit': 11279,
 'realist': 31527,
 'move': 25846,
 'mcginn': 24543,
 'shot': 34779,
 '55': 1690,
 'mil': 25118,
 'healthi': 17543,
 'big': 5836,
 'least': 22523,
 'decent': 11160,
 'middlesix': 25028,
 'winger': 41816,
 'harder': 17346,
 'replac': 32060,
 'pretti': 30367,
 '4th': 1607,
 'lin': 22993,
 'seriouswhi': 34261,
 'georg': 16091,
 'washington': 41208,
 'repeatedli': 32046,
 'outright': 28402,
 'lie': 22870,
 'distort': 12078,
 'due': 12684,
 'partisan': 28822,
 'bia': 5804,
 'kellybel': 21399,
 'correct': 9818,
 'congress': 9373,
 'codifi': 8943,
 'halfbrain': 17176,
 'gm': 16358,
 'could': 9886,
 'see': 34051,
 '4m': 1597,
 'total': 38904,
 'per': 29218,
 'themadridzon': 37959,
 'shd': 34600,
 'anyth': 3946,
 '30': 1224,
 'next': 26790,
 'egregi': 13059,
 'peac': 29071,
 'need': 26555,
 'dealt': 11071,
 'harshli': 17398,
 'emperor': 13336,
 'back': 4900,
 'germani': 16117,
 'straight': 36460,
 'mainz': 23890,
 'convict': 9702,
 'rebel': 31615,
 'leader': 22485,
 'perman': 29262,
 'exil': 14057,
 'abbot': 2246,
 'strip': 36538,
 'rank': 31329,
 'monasteri': 25585,
 'dissolv': 12069,
 'sunday': 36770,
 '19': 593,
 'june': 20970,
 '2022': 825,
 'marks1689': 24229,
 'wrong': 42238,
 'imprisonment1689': 18908,
 'tortur': 38892,
 '1689': 478,
 'human': 18386,
 'right': 32482,
 'breach1689': 6608,
 'injustice1689': 19229,
 'arbitrari': 4101,
 'detentionno': 11630,
 'evidenceno': 13940,
 'convictionfreejagginow': 9706,
 'jackduffin': 19957,
 'push': 30942,
 'watson': 41254,
 'yr': 42723,
 '46': 1548,
 '2024': 867,
 'brown': 6884,
 '23': 1002,
 'hed': 17632,
 'play': 29697,
 '62': 1785,
 'minu': 25244,
 'wo': 42012,
 'bondoil23': 6339,
 'biden': 5822,
 'ever': 13884,
 'convers': 9694,
 'son': 35571,
 'publish': 30848,
 'there': 38069,
 'incrimin': 19021,
 'alvarezszn2022': 3374,
 'fuckin': 15573,
 'wors': 42159,
 'mate': 24354,
 'woodland': 42068,
 'township': 38946,
 'applic': 4042,
 'talent': 37204,
 'park': 28779,
 'recreat': 31709,
 'depart': 11477,
 'instructor': 19342,
 'becom': 5422,
 'contractor': 9628,
 'visit': 40869,
 'guardiannew': 16938,
 'wait': 41070,
 'arm': 4197,
 'ar15': 4083,
 'dc': 11009,
 'known': 21767,
 'nobodi': 27048,
 'arrest': 4250,
 'prior': 30434,
 'proftomkin': 30574,
 'govern': 16594,
 'russian': 33112,
 'bought': 6462,
 'philand': 29435,
 'racist': 31172,
 'yeah': 42499,
 'desper': 11592,
 'stuff': 36580,
 'mic91051517': 24958,
 'trial': 39177,
 'swear': 36991,
 'shouldnt': 34794,
 'vote': 40958,
 'ok': 27822,
 'news': 26735,
 'day1': 10961,
 'meadow': 24597,
 'guliani': 16988,
 'sought': 35662,
 'jan': 20082,
 'knew': 21731,
 'weapon': 41314,
 'march': 24116,
 'capit': 7487,
 '63': 1807,
 'intimid': 19454,
 'tampering4': 37253,
 '50': 1617,
 'dead': 11040,
 'migrant': 25062,
 'semi': 34144,
 'texa': 37711,
 'val5linx': 40502,
 'corrupt': 9831,
 'speakervo': 35779,
 'betray': 5717,
 'deep': 11219,
 'of': 27655,
 'lawsuit': 22405,
 'wi': 41676,
 'whether': 41572,
 'contradictori': 9669,
 'set': 34284,
 'argument': 4173,
 '15': 377,
 'disclosur': 11954,
 'main': 23879,
 'attorney': 4601,
 'gener': 16040,
 'occur': 27612,
 'dec': 11137,
 '2021': 815,
 'discov': 11967,
 'mi': 24948,
 'creativegal2': 10146,
 'voter': 40965,
 'everyth': 13908,
 'except': 13994,
 'phone': 29472,
 'number': 27426,
 'parthow': 28806,
 'got': 16570,
 'couldv': 9891,
 'tenantsdamn': 37583,
 'licens': 22860,
 'highli': 17878,
 'train': 39034,
 'owner': 28521,
 'conclusionheard': 9297,
 'multitud': 26084,
 'issu': 19727,
 'chargerssiemen': 8126,
 'bosch': 6427,
 'elit': 13194,
 'electrif': 13155,
 'muchtesla': 26006,
 'supercharg': 36812,
 'proven': 30737,
 'reliabl': 31934,
 'award': 4778,
 'tesla': 37668,
 'equip': 13600,
 'aid': 2972,
 'action': 2522,
 'dydx': 12808,
 'trade': 38990,
 'settl': 34303,
 'instantli': 19328,
 'instead': 19331,
 'counterparti': 9914,
 'datebut': 10854,
 'unlik': 40061,
 'regular': 31859,
 'perp': 29275,
 'expiri': 14116,
 'date': 10853,
 'trader': 39001,
 'whiterabbitt51': 41611,
 'brenda': 6712,
 'lucki': 23562,
 'hid': 17849,
 'book': 6365,
 'appli': 4041,
 'liber': 22837,
 'occas': 27602,
 'wonder': 42050,
 'broken': 6851,
 'firelucki': 14839,
 'break': 6671,
 'dembcopyrightlcopyright': 11380,
 'decid': 11167,
 'immin': 18838,
 'reduc': 31752,
 'salari': 33355,
 'deallequip': 11066,
 'via': 40706,
 'camera': 7367,
 'staff': 36039,
 'forc': 15153,
 'ukrain': 39745,
 'armi': 4212,
 'aviat': 4754,
 'troop': 39261,
 'regain': 31814,
 'potiomkyn': 30099,
 'kherson': 21519,
 'region': 31828,
 'fail': 14293,
 'retreat': 32277,
 'becca2bbarn': 5412,
 'zero': 42827,
 'capitol': 7492,
 'what': 41516,
 'strang': 36470,
 'epp': 13580,
 'encourag': 13395,
 'other': 28286,
 'knock': 21750,
 'fenceswhich': 14625,
 '20': 756,
 'minut': 25245,
 'fini': 14806,
 'thetimesscot': 38167,
 'ill': 18746,
 'gladli': 16280,
 'referendum': 31785,
 'win': 41794,
 'greedi': 16742,
 'warden': 41167,
 'tle1011': 38610,
 'bulli': 7052,
 'petul': 29387,
 'man': 23987,
 'cater': 7768,
 'wish': 41858,
 'matter': 24389,
 'rumour': 33068,
 'salah': 33352,
 'true': 39299,
 'mrmickeyc123': 25914,
 'reason': 31592,
 'explain': 14118,
 'georgetakei': 16102,
 'mustard': 26169,
 'bjerregaardkai': 5996,
 'fut': 15679,
 'your': 42691,
 'bind': 5917,
 'partner': 28826,
 'prevent': 30375,
 'accomplic': 2426,
 'undermin': 39889,
 'ador': 2684,
 'separ': 34218,
 'rapidli': 31358,
 'exaccomplic': 13966,
 'fulfil': 15598,
 'bed': 5428,
 'remov': 31995,
 'misfortun': 25310,
 'menstrual': 24794,
 'difficulti': 11826,
 'seed': 34053,
 'fitra': 14883,
 'primordi': 30415,
 'divin': 12109,
 'coven': 10012,
 'realm': 31553,
 'soul': 35665,
 'plant': 29673,
 'earth': 12861,
 'grow': 16864,
 'biolog': 5937,
 'heart': 17600,
 'also': 3347,
 'parent': 28768,
 'sacr': 33233,
 'devast': 11655,
 'aaron': 2204,
 ...}

this command gives all the unique words with there index value in the vector

In [172]:
pd.DataFrame(array_count,columns=sorted(count_obj.vocabulary_))

,00,000,000001,0007,001,0047,004coinmarketcap,006,007,007anoth,...,zumwalt,zuneth,zuwairahnasir,zyagle09,zychaxrma,zygotes3,zylstra,zzztyler,zzzz,zzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [214]:
#TF-IDF
tf_obj = TfidfVectorizer()
trans_tf = tf_obj.fit_transform(cleaned_text_data['cleaned_Text'][0:5000])
trans_tf

<5000x14163 sparse matrix of type '<class 'numpy.float64'>'
	with 68552 stored elements in Compressed Sparse Row format>

In [215]:
pd.DataFrame(trans_tf.toarray(),columns=sorted(tf_obj.vocabulary_.keys()))

,0047,007,01,02906for,030,033,036,038crypto,042,05,...,zoomcarindia,ztpetrizzo,zu,zubac,zubair,zuneth,zuwairahnasir,zychaxrma,zygotes3,zylstra
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

in countvectorizer (bag of words) and tfidfvectorizer(TF-IDF) i have reduced datapoints because of memory problem so i have limited to 25000 rows in countvectorizer instead of 871310 and 5000 in tfidfvectorizer